<h1>Liste des utilisateurs</h1>
<form method="get" name="formulaire" action="{{ url('gamers.new') }}">
  <button type="submit">Retour</button>
</form>
<table>
<thead>
  <tr>
    <th>ID</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>ACTION</th>
  </tr>
</thead>
<tbdoy>
{% for user in users %}
   <tr>
     <td>{{gamer.id}}</td>
     <td>{{gamer.nom}}</td>
     <td>{{gamer.prenom}}</td>
     <td>
      </td>
      <td>
      </td>
   </tr>
{% endfor %}
</tbdoy>
</table>
